.result_card .ant-card-body {
  background-color: white;
  padding: 0;
}
.result_card .ant-card-head {
  background-color: transparent;
}
.addBtn:hover {
  background-color: rgba(211, 243, 174, 0.8);
  transition: 0.2s linear;
  cursor: pointer;
}
.addBtn {
  width: 100px;
}
.results_title .ant-card-head-title {
  margin: 0;
  text-align: center;
  font-size: 25px;
}
.result_card .ant-card-head-title {
  margin: 0;
  text-align: left;
}
.result_container {
  width: 40%;
}
@media screen and (min-width: 0em) and (max-width: 33.9em) {
  .result_container {
    width: 100%;
  }
}
